<div class="row justify-content-center mt-3">
    <div class="col-md-6">
        <div class="card w-75 mb-3">
            <div class="card-body text-center">
                <h5 class="card-title fs-3">Sign up</h5>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control">
                    <label for="floatingInput">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control">
                    <label for="floatingPassword">Confirmation</label>
                </div>
                <a href="#" class="btn btn-primary">Create my account</a>
            </div>
        </div>
    </div>
</div>       